$color-text: #fff;
$color-bg: linear-gradient(116.21deg, #052652 -3.25%, #2d9cdb 107.37%);
$font-family: 'Geologica', 'Arial', sans-serif;

$xxl: 1399px;
$xl: 1199px;
$lg: 989px;
$md: 789px;
$sm: 575px;
$xs: 419px;
